{% extends "foundation/base.html" %}

{% block content %}

<section class="row">

{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}


<form method="POST" action="{{url_for('entry.login')}}">
	{{ form.hidden_tag() }}
    <div>{{ form.username.label(class="columns small-6") }}: 
    {% for error in form.username.errors %}
            <span class="error">[{{ error }}]</span>
          {% endfor %}<br>
    {{ form.username(class="columns small-6") }}
    </div>
    <div>{{ form.password.label(class="columns small-6") }}: 
    {% for error in form.password.errors %}
            <span class="error">[{{ error }}]</span>
          {% endfor %}<br>
    {{ form.password(class="columns small-6") }}</div>
    <div class="columns small-6">{{ form.submit}}</div>
</form>
</section>

{% endblock content %}