{% extends "foundation/base.html" %}


{% block styles %}
	{{ super()}}
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css')}}">
	
{% endblock styles %}

{% block navbar %}
    {% include "header.html" %}
{% endblock navbar %}

{% block content %}
<div class="row">
<h1 class="titulo">Showing your character: {{name}}</h1>
	{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    
</div>

{% endblock content %}